$blueprint-grid-columns : 24;
$blueprint-grid-width : 18px;
$blueprint-grid-margin : 10px;

@import 'blueprint/grid';

$link_color : #8F4B3D;
$active_link_color : black;
$hover_link_color : black;

$secondary_link_color : #aaa;
$secondary_hover_link_color : #000;
$secondary_active_link_color : #000;
